<body>
  <div class="container">
    <a href="/"><img src="../../../assets/image/ECeremony.png" alt="Logo" id="logo"></a>
    <div class="menu">
      <div id="incluir">
        <a routerLink="/cadastrarFornecedor"><img src="../../../assets/image/incluir.png" alt="Incluir" ></a>
        <h1>Incluir Fornecedores</h1>
      </div>
      <div id="buscar">
        <a routerLink="/fornecedores"><img src="../../../assets/image/buscar.png" alt="Buscar" ></a>
        <h1>Buscar Fornecedores Juniors</h1>
      </div>
    </div>
  </div>
</body>

  