.menu{
    width:100%;
    vertical-align: middle;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    display: flex;

}

#logo{
    width: 500px;
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 300px;

}

#incluir{
    display: block;
    text-align: center;
}

#buscar{
    display: block;
    text-align: center;
}

body{
    background-color: honeydew;
}
  